@import "tailwindcss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue ;
    height: 70px;
    border-radius: 10px;   

}
.nav-menu {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 2rem;
    text-size-adjust: 12px;
}

.header{
    font-size: 50px;
    text-align: center;
}